{% load static %}

<footer class="footer py-5 position-relative">
    <div class="container position-relative">
        <hr class="horizontal dark mb-4 mt-md-4 mt-md-0">
        <div class="row">
            <div class="col-lg-6 text-start">
            </div>
        </div>
        <hr class="horizontal dark my-4">
        <div class="row">
            <div class="col-lg-6 col-md-6 my-auto">
                <p class="mb-sm-0 opacity-8">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Design by Goitsa.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 ms-auto text-sm-end">
                <button type="button" class="btn btn-icon-only btn-link mb-0 text-dark">
                    <i class="fab fa-facebook text-lg"></i>
                </button>
                <button type="button" class="btn btn-icon-only btn-link mb-0 text-dark">
                    <i class="fab fa-twitter text-lg"></i>
                </button>
                <button type="button" class="btn btn-icon-only btn-link mb-0 text-dark">
                    <i class="fab fa-dribbble text-lg"></i>
                </button>
                <button type="button" class="btn btn-icon-only btn-link mb-0 text-dark">
                    <i class="fab fa-github text-lg"></i>
                </button>
            </div>
        </div>
    </div>
</footer>