{% extends 'halaman/base.html' %}

{% load static %}

{% block content %}
<section class="py-sm-7 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Goitsa Zahira Shofa</h2>
            <p class="font-weight-normal">Kesuksesan tidak datang kepada kita, kita yang harus mengejarnya dengan kerja keras dan ketekunan.</p>
          </div>
          <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
            <button type="button" class="btn bg-gradient-primary mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">See all</button>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-dribbble.svg' %}" alt="logo">
            <h5>Data Analyst</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-github.svg' %}" alt="logo">
            <h5>Product Designer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-amazon.svg' %}" alt="logo">
            <h5>E-commerce Developer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-google-cloud.svg' %}" alt="logo">
            <h5>Digital Product Design</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-zoom.svg' %}" alt="logo">
            <h5>Communication Agent</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
            <img class="width-32-px mb-3" src="{% static 'halaman/assets/img/logos/small-logos/logo-twitter.svg' %}" alt="logo">
            <h5>Logo Designer</h5>
            <p class="text-sm font-weight-normal">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
            <a href="javascript:;" class="btn btn-outline-secondary btn-sm">Apply here</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}